body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.row{
  margin: 0 !important;
}

.navbar{
  padding: 0.5rem 2rem !important;
}

.row > .col-4 > .text-center{
  font-family: Anton, sans-serif !important;
  background-color: white;
}

.col-4 > p > a{
  color: #84bd00 !important;
  text-align: center !important;
}

.material-icons{
  vertical-align: middle !important;
}

.navbar-brand{
  color: white !important;
}

.btn-outline-success{
  color: white !important;
  order: white !important;
}

.navbar-expand-lg{
  justify-content: center !important;
}
/* .contanier-fluid{
  margin: 0 !important;
  padding: 0 !important;
} */
.navbar-expand-lg{
  background-color: rgba(254,80,0,0.9) !important;
}

.row{
  padding: 1.5em 0;
}

/* inician estilos de categorias */
.wrapper {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "uno dos  " "uno tres";
    width: 100vw;
    max-width: 100%;
    /* overflow: hidden; */
    height: 730px;
    }
.box {
    background-color: #efefef;
    color: #fff;
    padding: 20px;
    font-size: 150%;
    }
.box > img{
  width: 100%;
}
.uno{
    grid-area: uno;
    }
.dos{
    grid-area: dos;
    }
.tres{
    grid-area: tres;
  }

    /* Sección footer */
    footer{
      color: #aaa;
      background-color: #efefef;
      text-align: center;
      padding: 5px 0;
    }
    footer ul{
      padding-left: 0;
    }
    footer li{
      list-style-type: none;
    }
    footer a{
      color: #aaa;
      list-style-type: none;
      text-decoration: none;
    }
